@font-face {
    src: url(fonts/Inter-Regular.ttf);
    font-family: inter;
}

@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

header#main-header {
    height: 46px;
    margin: 45px 196px 0 121px;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #363636;
    margin-right: 59px;
}

header#main-header nav ul li:first-child {
    margin: 0;
}

header#main-header nav ul li img {
    margin-right: 71px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header div.side>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #FF6B7D;
    box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.4);
    border-radius: 50px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: -100px;
}

header#main-header div.side>button:hover {
    cursor: pointer;
    background: #FF6B7D;
    box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.7);
}

