@font-face {
    src: url(fonts/Inter-Regular.ttf);
    font-family: inter;
}

@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: Poppins;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 481px) {
    
}

@media (min-device-width: 426px) {
    
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 482px) and (max-device-width: 1230px) {
   
}

/* Desktops and laptops ----------- */

@media only screen and (min-device-width: 1231px) and (max-device-width: 2560px) {
  
}