@font-face {
    src: url(fonts/Inter-Regular.ttf);
    font-family: inter;
}

@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: Poppins;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 481px) {
    #main-header {
        display: none;
    }
    #mobile-header {
        display: inline;
    }
    #mobile-header .content {
        margin: 20px 0 0 20px;
    }
    #mobile-header .content nav img {
        width: 110px;
        height: 115px;
        left: 18px;
        top: 13px;
    }
    #mobile-header .content nav ul {
        margin: 40px 0 0 25px;
        list-style: none;
    }
    .sectionOne {
        margin: 112px 0 140px 35px;
    }
    .sectionOne>h1 {
        height: 42px;
        left: 4.44%;
        right: 17.5%;
        top: 275px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 81px;
        line-height: 60px;
        color: #000000;
        margin: 0 0 50px 0;
    }
    .sectionOne>p {
        font-size: 50px;
    }
    .sectionForm {
        display: table;
        margin: 0 auto;
        background: url("images/Vector 13.png") no-repeat center center;
        background-size: 99% 89%;
        padding: 162px 79px 210px 55px;
    }
    .sectionForm form {
        width: 810px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background: #fff;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 66px 0 50px 0;
    }
    .sectionTwo {
        display: table;
        margin: 0 50px;
        margin: 0px 0 115px 52px;
        font-size: 33px;
    }
    .sectionTwo h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 33px;
        margin-bottom: 80px;
    }
    .sectionTwo img {
        float: left;
        width: 67px;
        margin-right: 53px;
    }
    .form-container input {
        border: none;
        border-bottom: 1px solid #828282;
        padding: 26px 0;
        margin-bottom: 100px;
        font-size: 50px;
        color: #4F4F4F;
    }
    .form-container textarea {
        width: 80%;
        border: 0;
        border-bottom: 1px solid;
        margin: 86px 0 105px 0;
        font-family: Inter;
        font-size: 38px;
        color: #4F4F4F;
    }
    .form-container button {
        width: 225px;
        height: 115px;
        background: #07D599;
        box-shadow: 0px 4px 10px rgba(7, 213, 153, 0.25);
        border-radius: 50px;
        font-size: 35px;
        letter-spacing: 3px;
        border: 0;
        color: white;
        font-family: Inter;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 415px;
    }
    .input-group {
        position: relative;
    }
    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;
        width: 100%;
    }
    input:focus {
        outline: none;
    }
    label {
        color: #999;
        font-size: 38px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    input:focus~label, input:valid~label {
        top: -20px;
        font-size: 14px;
        color: #4285f4;
    }
    footer {
        height: 1500px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        display: table;
        margin: 0 auto;
    }
    .footer-content-left, .footer-content-right {
        font-size: 37px;
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
    }
    .footer-social-medias {
        display: table;
        margin: 102px auto;
    }
    .footer-social-medias a img {
        width: 80px;
        margin: 0 29px 0 39px;
    }
    .footer-email>img {
        width: 102px;
        display: table;
        margin: 45px auto;
    }
    .footer-content-right {
        margin: 0;
    }
    .footer-content-right>h4 {
        font-size: 32px;
    }
    .footer-content-right>h4 {
        margin: 104px 0;
    }
    .footer-content-right>p {
        font-size: 33px;
        line-height: 76px;
        display: inline;
    }
    .footer-content-right>h5 {
        font-size: 35px;
        display: table;
        margin: 60px auto;
    }
}

@media (min-device-width: 426px) {
    #mobile-header {
        display: none;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 482px) and (max-device-width: 1230px) {
    header#main-header {
        margin: 15px 70px 0 70px;
    }
    header#main-header .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    header#main-header nav ul {
        display: flex;
        list-style: none;
    }
    header#main-header nav ul li {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #363636;
        margin-right: 59px;
    }
    header#main-header nav ul li:first-child {
        margin: 0;
    }
    header#main-header nav ul li img {
        margin-right: 71px;
    }
    header#main-header div.side {
        display: flex;
    }
    header#main-header div.side img {
        height: 34px;
        width: 34px;
        border-radius: 50%;
        margin: 0 15px;
    }
    header#main-header div.side>button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 131px;
        height: 48px;
        left: 0px;
        top: 0px;
        background: #FF6B7D;
        box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.4);
        border-radius: 50px;
        border: 0;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    header#main-header div.side>button:hover {
        cursor: pointer;
        background: #FF6B7D;
        box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.7);
    }
    .about-link, .app-link {
        text-decoration: none;
        color: black;
    }
    .about-link:hover, .app-link:hover {
        font-weight: bold;
    }
    .sectionOne {
        margin: 60px 0 0 70px;
    }
    .sectionOne>h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #000000;
    }
    .sectionOne>p {
        font-size: 25px;
        margin-top: 15px;
    }
    .sectionForm {
        display: table;
        margin: 0 auto;
        background: url("images/Vector 12.png") no-repeat center center;
        background-size: 99% 78%;
        padding: 161px 50px 200px 98px;
    }
    .sectionForm form {
        width: 810px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background: #fff;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 93px 55px 63px 55px;
    }
    .form-container input {
        border: none;
        border-bottom: 1px solid #828282;
        padding: 7px 0;
        margin-bottom: 46px;
        color: #4F4F4F;
        font-size: 35px;
    }
    .form-container textarea {
        border: 0;
        border-bottom: 1px solid;
        margin: 150px 0 50px 0;
    }
    .form-container button {
        width: 200px;
        height: 87px;
        background: #07D599;
        box-shadow: 0px 4px 10px rgba(7, 213, 153, 0.25);
        border-radius: 50px;
        font-size: 35px;
        letter-spacing: 3px;
        border: 0;
        color: white;
        font-family: Inter;
        text-transform: uppercase;
        font-weight: bold;
        float: right;
        margin-left: 520px;
    }
    .input-group {
        position: relative;
    }
    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;
        width: 100%;
    }
    input:focus {
        outline: none;
    }
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    label.message {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 191px;
        top: 1080px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    input:focus~label, input:valid~label {
        top: -20px;
        font-size: 14px;
        color: #4285f4;
    }
    textarea:focus~label {
        top: 930px;
        font-size: 14px;
        color: #4285f4;
    }
    .form-container textarea {
        color: #999;
        border: 0;
        border-bottom: 1px solid;
        width: 100%;
        font-family: Inter;
        font-size: 18px;
    }
    .sectionTwo {
        display: table;
        margin: 0 50px;
        margin: 0px 0 115px 52px;
        font-size: 33px;
    }
    .sectionTwo h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 33px;
        margin-bottom: 80px;
    }
    .sectionTwo img {
        float: left;
        width: 44px;
        margin-right: 53px;
    }
    footer {
        height: 310px;
    }
    .footer-content {
        margin-left: 55px;
    }
    .footer-content-left {
        font-size: 18px;
    }
    .footer-social-medias>a>img {
        margin: 27px 5px 40px 5px;
        width: 40px;
    }
    .footer-email>img {
        margin-top: 18px;
        width: 40px;
    }
    .footer-content-right>h4 {
        font-size: 18px;
    }
    .footer-content-right>h5 {
        font-size: 13px;
        margin-top: 25px;
    }
    .footer-content-right>p {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Desktops and laptops ----------- */

@media only screen and (min-device-width: 1231px) and (max-device-width: 2560px) {
    .about-link, .app-link {
        text-decoration: none;
        color: black;
    }
    .about-link:hover, .app-link:hover {
        font-weight: bold;
    }
    .sectionOne {
        position: absolute;
        margin: 166px 15px 0px 136px;
    }
    .sectionOne h1 {
        margin-bottom: 10px;
        font-size: 42px;
    }
    .sectionTwo {
        margin: 373px 15px 0px 136px;
    }
    .sectionTwo h4 {
        margin-bottom: 30px;
    }
    .sectionTwo img {
        float: left;
        margin-right: 15px;
    }
    .sectionForm {
        display: table;
        margin: 0 auto;
        background: url("images/Vector 12.png") no-repeat center center;
        background-size: 94% 68%;
        padding: 161px 50px 200px 98px;
        float: right;
    }
    .sectionForm form {
        width: 689px;
        height: 495px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        background: #fff;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 38px 55px 63px 55px;
    }
    .form-container input {
        border: none;
        border-bottom: 1px solid #828282;
        padding: 7px 0;
        margin-bottom: 46px;
        color: #4F4F4F;
        font-size: 20px;
        width: 100%;
    }
    .input-group {
        position: relative;
    }
    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;
    }
    input:focus, textarea:focus {
        outline: none;
    }
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    label.message {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 761px;
        top: 661px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    input:focus~label, input:valid~label {
        top: -20px;
        font-size: 14px;
        color: #4285f4;
    }
    textarea:focus~label {
        top: 500px;
        font-size: 14px;
        color: #4285f4;
    }
    .form-container textarea {
        color: #999;
        border: 0;
        border-bottom: 1px solid;
        width: 100%;
        font-family: Inter;
        font-size: 18px;
    }
    .form-container button {
        width: 97px;
        height: 40px;
        background: #07D599;
        box-shadow: 0px 4px 10px rgba(7, 213, 153, 0.25);
        border-radius: 50px;
        font-size: 13px;
        border: 0;
        color: white;
        font-family: Inter;
        text-transform: uppercase;
        font-weight: bold;
        float: right;
        margin-left: 491px;
        margin-top: 26px;
    }
    .footer-content {
        margin-left: 121px;
    }
}