/* Large Devices (Desktops & Laptops) */

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .sectionTwo {
        overflow: hidden;
    }
}

/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 768px) and (max-width: 1340px) {
    .sectionOne-left {
        margin-left: -134px;
    }
    .sectionOne-right {
        margin-left: 576px;
    }
    .sectionOne-right>img {
        width: 442px;
    }
    .sectionSeven {
        margin-top: 835px;
    }
    .sectionOne-left>h1 {
        font-size: 30px;
    }
    .sectionThree-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .sectionOne {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin-top: 182px;
    }
    .sectionOne-left {
        margin: 0;
        margin-left: 0;
        position: static !important;
    }
    .sectionOne-right {
        margin: 60px;
    }
    .sectionThree>h1 {
        margin-left: 100px;
    }
    .sectionThree-container>ul {
        margin: 44px 250px 0 0;
    }
    .sectionOne-right>img {
        width: 758px;
    }
    .sectionThree, .sectionThreeOptionsImage {
        margin: 0;
    }
    .sectionFour {
        height: 1188px;
    }
    .sectionFour-content-right {
        margin-top: 120px;
    }
    .sectionFour-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 150px;
        align-items: baseline;
    }
    .shapeFive {
        margin-top: -80px;
    }
    .sectionFive-partners .box {
        width: 250px;
        height: 190px;
        margin: -15px;
    }
    .sectionSix-partners {
        padding: 100px;
    }
    .sectionSix>h1 {
        margin: 50px 0 -20px 0;
    }
    .sectionSeven {
        margin-top: 1247px;
    }
    .shapeSix {
        margin-top: -503px;
    }
    .sectionSix {
        margin-top: -50px;
    }
    .sectionEight {
        display: flex;
        flex-direction: column-reverse;
        margin: 220px auto;
    }
    .sectionEight-content {
        margin-top: 136px;
    }
}

/* Smartphones (portrait) ----------- */

@media (min-width: 320px) and (max-width: 980px) {
    #main-header .about-link>img {
        width: 211px;
    }
    .about-link, .app-link {
        font-size: 20px;
    }
    .sectionOne {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 182px 0 133px 0;
    }
    .sectionOne-left {
        margin-left: -153px;
        position: static !important;
    }
    .sectionOne-left>h1 {
        font-size: 58px;
        line-height: 59px;
    }
    .sectionOne-left>p {
        margin-top: 181px;
        font-size: 38px;
        line-height: 46px;
    }
    .sectionOne-left .contactButton button {
        width: 514px;
        height: 137px;
        margin-top: 199px;
        font-size: 36px;
    }
    .sectionOne-right {
        margin: 60px;
    }
    .sectionOne-right>img {
        width: 825px;
    }
    .sectionTwo-phraseOne {
        font-size: 49px;
        line-height: 73px;
    }
    .sectionTwo-phraseTwo {
        font-size: 58px;
        margin-top: 62px;
    }
    .sectionTwo-phraseThree {
        font-weight: bold;
        font-size: 37px;
        line-height: 50px;
        margin-top: 84px;
    }
    .sectionTwo-statistics>ul {
        margin-top: 50px;
        margin-top: 122px;
    }
    .sectionTwo-statistics>ul>li {
        font-size: 24px;
        font-weight: bold;
    }
    .sectionThree {
        margin: 0;
    }
    .sectionThree>h1 {
        margin: 65px 34px 106px 81px;
        font-size: 63px;
        line-height: 68px;
    }
    .sectionThree-container .circle.active {
        font-size: 50px;
        width: 104px;
        height: 107px;
    }
    .sectionThree-container .circle {
        font-size: 45px;
        width: 78px;
        height: 82px;
    }
    .sectionThreeOptions {
        margin: 61px 0 0 -98px;
    }
    .sectionThreeOptionsImage {
        margin: 0;
    }
    .sectionThreeOptionsImage>img {
        width: 800px;
    }
    .sectionThreeOptions>h2.active {
        font-size: 55px;
    }
    .sectionThreeOptions>h2 {
        font-size: 43px;
    }
    .sectionFour {
        height: 1580px;
    }
    .sectionFour-content {
        flex-direction: column;
    }
    .sectionFour-content-right {
        margin-top: 128px;
    }
    .sectionFour-container>h1 {
        font-size: 60px;
        line-height: 87px;
    }
    .sectionFour-content-left>h1, .sectionFour-content-right>h1 {
        font-size: 66px;
    }
    .sectionFour-content-left>h3, .sectionFour-content-right>h3 {
        font-size: 52px;
        line-height: 60px;
    }
    .sectionFour-content-left>p, .sectionFour-content-right>p {
        font-size: 38px;
        line-height: 49px;
        margin: 34px 0 22px 0;
    }
    .sectionFour-content-left>button, .sectionFour-content-right>button {
        width: 544px;
        height: 103px;
        font-size: 30px;
    }
    .sectionFour-content-left>button>span, .sectionFour-content-right>button>span {
        font-size: 38px;
        font-weight: 20px;
        margin-left: 10px;
    }
    .shapeFive {
        margin-top: 1174px;
    }
    .shapeSix {
        display: none;
    }
    .sectionSix {
        margin-top: 188px;
    }
    .sectionSix>h1 {
        font-size: 53px;
    }
    .sectionSix-partners {
        margin: 0px 35px 0 43px;
    }
    .sectionSix-partners .box {
        width: 435px;
        height: 352px;
    }
    .sectionSix-partners .box>img {
        width: 455px;
    }
    .sectionSeven {
        margin-top: 1884px;
    }
    .sectionEight-content-image>img {
        width: 855px;
    }
    .sectionEight-content>h1 {
        font-size: 70px;
        line-height: 87px;
    }
    .sectionEight-content>p {
        font-size: 41px;
        line-height: 44px;
    }
    .sectionEight-content>button {
        width: 546px;
        height: 141px;
        font-size: 37px;
    }
    .sectionEight-content>button>span {
        font-size: 37px;
    }
    .testimonials-cards {
        height: 810px;
    }
    #testimonials-cards-container .testimonials-cards img {
        width: 386px;
        top: -133px;
    }
    .testimonials-cards>p {
        font-size: 45px;
        line-height: 53px;
        font-size: 41px;
        line-height: 44px;
    }
    .testimonials-cards>h4 {
        font-size: 33px;
        margin-top: 74px;
    }
    .statistics-data {
        left: 57%;
        font-size: 22px;
        font-weight: bold;
    }
    .sectionEight {
        display: flex;
        flex-direction: column-reverse;
        margin: 175px 29px 0 39px;
    }
    .sectionEight-content {
        margin-top: 136px;
    }
    footer {
        height: 1500px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        display: table;
        margin: 0 auto;
    }
    .footer-content-left, .footer-content-right {
        font-size: 37px;
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
    }
    .footer-social-medias {
        display: table;
        margin: 102px auto;
    }
    .footer-social-medias a img {
        width: 80px;
        margin: 0 29px 0 39px;
    }
    .footer-email>img {
        width: 102px;
        display: table;
        margin: 45px auto;
    }
    .footer-content-right {
        margin: 0;
    }
    .footer-content-right>h4 {
        font-size: 32px;
    }
    .footer-content-right>h4 {
        margin: 104px 0;
    }
    .footer-content-right>p {
        font-size: 33px;
        line-height: 76px;
        display: inline;
    }
    .footer-content-right>h5 {
        font-size: 35px;
        display: table;
        margin: 60px auto;
    }
}