/* Large Devices (Desktops & Laptops) */

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .sectionTwo {
        overflow: hidden;
    }
}

/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 768px) and (max-width: 1340px) {
    .sectionOne-left {
        margin-left: -134px;
    }
    .sectionOne-right {
        margin-left: 576px;
    }
    .sectionOne-right>img {
        width: 442px;
    }
    .sectionSeven {
        margin-top: 835px;
    }
    .sectionOne-left>h1 {
        font-size: 30px;
    }
    .sectionThree-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .sectionOne {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin-top: 182px;
    }
    .sectionOne-left {
        margin: 0;
        margin-left: 0;
        position: static !important;
    }
    .sectionOne-right {
        margin: 60px;
    }
    .sectionThree>h1 {
        margin-left: 100px;
    }
    .sectionThree-container>ul {
        margin: 44px 250px 0 0;
    }
    .sectionOne-right>img {
        width: 758px;
    }
    .sectionThree, .sectionThreeOptionsImage {
        margin: 0;
    }
    .sectionFour {
        height: 1188px;
    }
    .sectionFour-content-right {
        margin-top: 120px;
    }
    .sectionFour-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 150px;
        align-items: baseline;
    }
    .shapeFive {
        margin-top: -80px;
    }
    .sectionFive-partners .box {
        width: 250px;
        height: 190px;
        margin: -15px;
    }
    .sectionSix-partners {
        padding: 100px;
    }
    .sectionSix>h1 {
        margin: 50px 0 -20px 0;
    }
    .sectionSeven {
        margin-top: 1247px;
    }
    .shapeSix {
        margin-top: -503px;
    }
    .sectionSix {
        margin-top: -50px;
    }
    .sectionEight {
        display: flex;
        flex-direction: column-reverse;
        margin: 220px auto;
    }
    .sectionEight-content {
        margin-top: 136px;
    }
}

/* Smartphones (portrait) ----------- */

@media (min-width: 320px) and (max-width: 980px){
    .sectionOne {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 182px 0 357px 0;
    }
    .sectionOne-left {
        margin-left: -153px;
        position: static !important;
    }
    .sectionOne-left>h1 {
        font-size: 58px;
        line-height: 59px;
    }
    .sectionOne-left>p {
        margin-top: 181px;
        font-size: 38px;
        line-height: 46px;
    }
    .sectionOne-left .contactButton button {
        width: 514px;
        height: 137px;
        margin-top: 199px;
        font-size: 36px;
    }
    .sectionOne-right {
        margin: 60px;
    }
    .sectionOne-right>img {
        width: 825px;
    }
    .sectionEight {
        display: flex;
        flex-direction: column-reverse;
        margin: 220px auto;
    }
    .sectionEight-content {
        margin-top: 136px;
    }
}