@font-face {
    src: url(fonts/Inter-Regular.ttf);
    font-family: inter;
}

@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button {
    outline: 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

header#main-header {
    height: 46px;
    margin-top: -265px;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #363636;
    margin-right: 59px;
}

header#main-header nav ul li:first-child {
    margin: 0;
}

header#main-header nav ul li img {
    margin-right: 71px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header div.side button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 48px;
    left: 0px;
    top: 0px;
    /* magenta claro */
    background: #FF6B7D;
    /* magenta */
    box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.4);
    border-radius: 50px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: -100px;
}

.shapeOne {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    margin-top: -46px;
}

.sectionOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 128px;
}

.sectionOne-left>h1 {
    width: 677px;
    height: 89px;
    left: 126px;
    top: 319px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #222222;
}

.sectionOne-left>p {
    width: 570px;
    height: 51px;
    left: 128px;
    top: 425px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 18px;
    color: #222222;
}

.sectionOne-left {
    margin: 0;
    margin-left: -223px;
    position: absolute;
}

.sectionOne-right {
    margin: 0;
    margin-left: 714px;
}

.sectionOne .contactButton button {
    width: 228px;
    height: 49px;
    left: 0px;
    top: 1px;
    background: #07D599;
    box-shadow: 0px 4px 10px rgba(7, 213, 153, 0.25);
    border-radius: 100px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
}

.sectionTwo {
    margin-top: 65px;
    position: relative;
    text-align: center;
    color: white;
}

.sectionTwo>img {
    width: 1400px;
    height: 1000px;
}

.sectionTwo-phraseOne {
    position: absolute;
    left: 6%;
    top: 15%;
    color: white;
    font-weight: bold;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: justify;
}

.sectionTwo-phraseTwo {
    position: absolute;
    left: 6%;
    top: 33%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 40px;
    color: #FFFFFF;
}

.sectionTwo-phraseThree {
    position: absolute;
    left: 6%;
    top: 37%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: justify;
}

.sectionTwo-statistics>ul {
    position: absolute;
    left: 6%;
    top: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    text-align: justify;
}

.sectionTwo-statistics>ul>li>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sectionTwo-statistics>ul .statistic-middle {
    margin: 0 50px 0 50px;
}

.statistic-graph>img {
    position: absolute;
    margin: -863px 0 0 -143px;
}

.statistics-data {
    position: absolute;
    left: 70%;
    top: 84%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.sectionThree {
    position: absolute;
    left: 128px;
    top: 1661px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #4F4F4F;
}

.sectionThree-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sectionThree>h1 {
    margin-bottom: 100px;
}

.sectionThree-container>ul {
    list-style: none;
}

.sectionThreeOptions>h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #4F4F4F;
    margin-left: 22px;
}

.sectionThreeOptions>h2.active {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 22px;
    color: #222222;
    margin-left: 0;
}

.sectionThree-container .circle {
    width: 32px;
    height: 32px;
    left: 142px;
    top: 2050px;
    background: #FF6B7D;
    color: #fff;
    border-radius: 50%;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.sectionThree-container .circle.active {
    width: 60px;
    height: 60px;
    left: 128px;
    top: 1820px;
    background: #EF1247;
    margin-left: -10px;
}

.sectionThree-container>ul>li>p.active {
    margin-bottom: 60px;
}

.sectionThreeOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sectionThree-container>ul>li>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    margin-left: 80px;
}

.sectionThreeOptionsImage {
    margin-left: 100px;
}