@font-face {
    src: url(fonts/Inter-Regular.ttf);
    font-family: inter;
}

@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button {
    outline: 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

header#main-header {
    height: 46px;
    margin-top: -265px;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #363636;
    margin-right: 59px;
}

header#main-header nav ul li:first-child {
    margin: 0;
}

header#main-header nav ul li img {
    margin-right: 71px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header div.side>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #FF6B7D;
    box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.4);
    border-radius: 50px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

header#main-header div.side>button:hover {
    cursor: pointer;
    background: #FF6B7D;
    box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.7);
}

.about-link, .app-link {
    text-decoration: none;
    color: black;
}

.about-link:hover, .app-link:hover {
    font-weight: bold;
}

.shapeOne {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    margin-top: -46px;
}

.sectionOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 128px;
}

.sectionOne-left>h1 {
    width: 677px;
    height: 89px;
    left: 126px;
    top: 319px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #222222;
}

.sectionOne-left>p {
    width: 570px;
    height: 51px;
    left: 128px;
    top: 425px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 18px;
    color: #222222;
}

.sectionOne-left {
    margin: 0;
    margin-left: -223px;
    position: absolute;
}

.sectionOne-right {
    margin: 0;
    margin-left: 714px;
}

.sectionOne .contactButton>button {
    width: 228px;
    height: 49px;
    left: 0px;
    top: 1px;
    background: #07D599;
    box-shadow: 0px 4px 10px rgba(7, 213, 153, 0.25);
    border-radius: 100px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
}

.sectionOne .contactButton>button:hover {
    cursor: pointer;
    background: #07D599;
    box-shadow: 0px 4px 10px rgba(0, 196, 138, 0.7);
}

.sectionTwo {
    margin-top: 65px;
    position: relative;
    text-align: center;
    color: white;
}

.sectionTwo .sectionTwo-container>img {
    width: 100%;
    height: 1000px;
}

.sectionTwo-container {
    position: relative;
    text-align: center;
    color: white;
}

.sectionTwo-container .statistic-graph {
    position: absolute;
    top: 119px;
    right: 16px;
}

.sectionTwo-phraseOne {
    position: absolute;
    left: 6%;
    top: 15%;
    color: white;
    font-weight: bold;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: justify;
}

.sectionTwo-phraseTwo {
    position: absolute;
    left: 6%;
    top: 33%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 40px;
    color: #FFFFFF;
}

.sectionTwo-phraseThree {
    position: absolute;
    left: 6%;
    top: 37%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: justify;
}

.sectionTwo-statistics>ul {
    position: absolute;
    left: 6%;
    top: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    text-align: justify;
}

.sectionTwo-statistics>ul>li>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sectionTwo-statistics>ul .statistic-middle {
    margin: 0 50px 0 50px;
}

.statistic-graph>img {}

.statistics-data {
    position: absolute;
    left: 70%;
    top: 84%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.sectionThree {
    margin-left: 90px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #4F4F4F;
}

.sectionThree-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sectionThree>h1 {
    margin-bottom: 100px;
}

.sectionThree-container>ul {
    list-style: none;
}

.sectionThreeOptions>h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #4F4F4F;
    margin-left: 22px;
    cursor: pointer;
}

.sectionThreeOptions>h2.active {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 22px;
    color: #222222;
    margin-left: 0;
}

.sectionThree-container .circle {
    width: 32px;
    height: 32px;
    left: 142px;
    top: 2050px;
    background: #FF6B7D;
    color: #fff;
    border-radius: 50%;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.sectionThree-container .circle.active {
    width: 60px;
    height: 60px;
    left: 128px;
    top: 1820px;
    background: #EF1247;
    margin-left: -10px;
}

.sectionThree-container>ul>li>p.active {
    margin-bottom: 60px;
}

.sectionThreeOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sectionThree-container>ul>li>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    margin-left: 80px;
}

.sectionThreeOptionsImage {
    margin-left: 100px;
}

.sectionFour {
    background: #2A0C7E;
    height: 800px;
    width: 100%;
    margin-top: 60px;
}

.sectionFour-container {
    padding: 60px 0 0 86px;
}

.sectionFour-container>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
}

.sectionFour-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 150px;
    align-items: baseline;
}

.sectionFour-content-left, .sectionFour-content-right {
    z-index: 1000;
    margin-right: -231px;
}

.sectionFour-content-left>h1 {
    margin-right: 680px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sectionFour-content-right>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.sectionFour-content-left>h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 39px 0 39px 0;
}

.sectionFour-content-right>h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 39px 0 20px 0;
}

.sectionFour-content-left>p {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.sectionFour-content-right>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.sectionFour-content-left>button, .sectionFour-content-right>button {
    width: 228px;
    height: 49px;
    left: 0px;
    top: 1px;
    background: transparent;
    border: 1px solid #FF6B7D;
    border-radius: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
    color: #FF6B7D;
}

.sectionFour-content-left>button:hover, .sectionFour-content-right>button:hover {
    background: #FF6B7D;
    box-shadow: 0px 4px 10px rgba(255, 107, 125, 0.4);
    color: #fff;
    cursor: pointer;
}

.sectionFour-content-left>button>span {
    font-size: 20px;
    font-weight: 20px;
    margin-left: 10px;
}

.sectionFour-content-right>button>span {
    font-size: 20px;
    font-weight: 20px;
    margin-left: 10px;
}

.shapeFive {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -440px;
}

.sectionFive {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #363636;
    text-align: center;
    margin-top: 50px;
}

.sectionFive>h1 {
    margin-bottom: 65px;
}

.sectionFive-partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0px 23px 0 159px;
}

.sectionFive-partners .box {
    width: 200px;
    height: 190px;
    margin: -3px;
}

.sectionFive-partners .box>img {
    box-shadow: 3px 5px 21px rgba(0, 0, 0, 0.2);
    border-radius: 8%;
}

.shapeSix {
    margin-top: -215px;
}

.sectionSix {
    position: absolute;
    margin-top: -360px;
}

.sectionSix>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #363636;
    text-align: center;
    margin: 50px 0 50px 0;
}

.sectionSix-partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0px 31px 0 109px;
}

.sectionSix-partners .box {
    width: 300px;
    height: 250px;
}

.sectionSeven {
    margin-top: 515px;
}

.sectionSeven>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #363636;
}

#testimonials-cards-container {
    margin: 0;
    width: 95%;
    margin-left: 43px;
}

.testimonials-cards {
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 180px 26px 33px 27px;
    height: 340px;
}

#testimonials-cards-container .testimonials-cards img{
    width: 200px;
    display: table;
    margin: 10px auto;
    position: relative;
    top: -79px;
}

.testimonials-cards>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #363636;
    margin-top: -72px;
}

.testimonials-cards>h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #5437A3;
    margin-top: 20px;
}


.sectionEight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 250px;
    margin-left: 130px;
}

.sectionEight-content>h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: #363636;
    text-align: justify;
}

.sectionEight-content>p {
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}

.sectionEight-content>button {
    width: 228px;
    height: 49px;
    left: 0px;
    top: 1px;
    background: #07D599;
    box-shadow: 0px 4px 10px rgba(7, 213, 153, 0.25);
    border-radius: 100px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 50px;
}

.sectionEight-content>button:hover {
    cursor: pointer;
    background: #07D599;
    box-shadow: 0px 4px 10px rgba(0, 196, 138, 0.7);
}

.sectionEight-content>button>span {
    font-size: 20px;
    font-weight: 20px;
    margin-left: 10px;
}

footer {
    margin-top: 180px;
    height: 240px;
    right: 0px;
    bottom: 0px;
    background: #2A0C7E;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin-left: 153px;
    padding-top: 40px;
}

.footer-content-left {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E5E5E5;
}

.footer-content-right {
    margin-left: 183px;
}

.footer-social-medias>a>img {
    margin: 10px 5px 40px 5px;
}

.footer-email>img {
    margin-top: 10px;
}

.footer-content-right>h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E5E5E5;
}

.footer-content-right>h5 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #E5E5E5;
    margin: 10px 0 5px;
}

.footer-content-right>p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #E5E5E5;
}